<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{data}}</h1>
    <div class="testing">
        <div id="fram" style="height: 800px;">
        </div>
    </div>
    <img src="/static/img/img1.jpg"></img>
</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.5/pdfobject.js" integrity="sha512-eCQjXTTg9blbos6LwHpAHSEZode2HEduXmentxjV8+9pv3q1UwDU1bNu0qc2WpZZhltRMT9zgGl7EzuqnQY5yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var viewpdf=$("#fram")
        PDFObject.embed("/static/files/6IBGPPYNZSAXTKB7HSA3Y4V3XO9337I4.pdf",viewpdf)
    </script>

    
    
</script>
</html>
