<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/search.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Search</title>
</head>
<body>
    <div class="Navigation">
        <a href="https://reva.edu.in">Reva University</a>
        <a href="https://rulms.reva.edu.in">Moodle</a>
        <a href="{{url_for('upload')}}">Upload</a>
        <a href="{{url_for('logout')}}">Logout</a>
    </div>
    <div class="searchbar">
        <form action="{{url_for('result')}}" method="POST">
            <input type="text" placeholder="  Search.." name='reqtitle' required>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="content">
            {% for item in data %}
               <div class="files">
                <a href="{{url_for('download', title=item['title']) }}">
                 <p>Title: {{item['title']}}</p>
                 <p>Guide: {{item['Gname']}}</p>
                </a>
               </div> 
            {% endfor %}
    </div>
</body>
<script>
</script>
</html>